<h1 class="page-title mb-4">Posts List</h1>

{{#if posts}}
    {{#each posts as |post|}}
        <article class="card border-dark mb-3">
            <div class="card-body text-dark">
                <h2 class="post-title">{{post.title}}</h2>
                <p class="text-truncate">{{post.text_content}}</p>
                <a href="/post/{{post.id}}" class="stretched-link btn btn-sm btn-outline-dark">Read more</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted by {{post.user.name}} on {{post.creation_date}}</small>
            </div>
        </article>
    {{/each}}
{{else}}
    <p class="text-muted">No posts!</p>
{{/if}}