<div class="page-title mb-4">
    <h1>{{post.title}}</h1>
    <small class="text-muted">Posted by {{post.user.name}} on {{post.creation_date}}</small>
</div>
<div class="mb-4">
    {{post.text_content}}
</div>
{{#if logged_in}}
    <div class="mb-4">
        <button type="button" class="btn btn-outline-dark" id="js-add-comment">New Comment</button>
    </div>
    <form class="mb-4 d-none" id="js-new-comment-form">
        <input type="hidden" id="post-id" name="post-id" value="{{post.id}}" readonly>
        <div class="mb-3">
            <label for="comment-text" class="form-label">Comment Text</label>
            <textarea class="form-control" id="comment-text" name="comment-text" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-dark" type="submit">Add New Comment</button>
        </div>
    </form>
    <h2 class="h4 mb-3">Post comments:</h2>
    {{#if post.comments}}
        {{#each post.comments as |comment|}}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">{{comment.text}}</div>
                <div class="card-footer">
                    <small class="text-muted">Posted by {{comment.user.name}} on {{comment.creation_date}}</small>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p class="text-muted">This post has no comments.</p>
    {{/if}}

    <script src="/js/post.js"></script>
{{else}}
    <p class="text-muted">To leave a comment you need to <a href="/login">login</a></p>
{{/if}}
